.type {
  font-family: inconsolata, courier;
  font-weight: bold;
  margin-top: 10px;
}

.indent {
  margin-left:20px;
  margin-top: 10px;
}

.paragraph {
  margin-bottom: 10px;
}

.steps {
  text-align: left;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}